# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/mobilidade_urbana?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="seu-secret-super-seguro-aqui-gerar-com-openssl-rand-base64-32"

# App
NODE_ENV="development"
PORT=3000

# API Keys (quando necessário)
# GOOGLE_MAPS_API_KEY=""
# STRIPE_SECRET_KEY=""
# STRIPE_PUBLIC_KEY=""

